<div id="<%= dom_id outcome %>">
  <p>
    <strong>Lis result sourcedid:</strong>
    <%= outcome.lis_result_sourcedid %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= outcome.score %>
  </p>

  <p>
    <strong>Passing threshold:</strong>
    <%= outcome.passing_threshold %>
  </p>

</div>
